Trl.IntegerMapper/bin/
Trl.IntegerMapper/obj/
Trl.IntegerMapper.Tests/bin/
Trl.IntegerMapper.Tests/obj/
.vs/
.vscode/launch.json
.vscode/tasks.json
nupkg/
Trl.IntegerMapper.Tests/TestResults/
UnitTestCoverageReport/
Trl.IntegerMapper.SampleApp/obj/
Trl.IntegerMapper.SampleApp/bin/
