Trs.IntegerMapper/bin/
Trs.IntegerMapper/obj/
Trs.IntegerMapper.Tests/bin/
Trs.IntegerMapper.Tests/obj/
.vs/
.vscode/launch.json
.vscode/tasks.json
nupkg/
Trs.IntegerMapper.Tests/TestResults/
UnitTestCoverageReport/
Trs.IntegerMapper.SampleApp/obj/
Trs.IntegerMapper.SampleApp/bin/
.gitignore
Trs.IntegerMapper.sln
Trs.IntegerMapper.SampleApp/GlobalSuppressions.cs
Trs.IntegerMapper.SampleApp/Program.cs
Trs.IntegerMapper.SampleApp/Trs.IntegerMapper.SampleApp.csproj
Trs.IntegerMapper.Tests/EqualityComparerMapperTests.cs
