Trs.IntegerMapper/bin/
Trs.IntegerMapper/obj/
Trs.IntegerMapper.Tests/bin/
Trs.IntegerMapper.Tests/obj/
.vs/
.vscode/launch.json
.vscode/tasks.json
nupkg/
UnitTestCoverageReport/
Trs.IntegerMapper.Tests/TestResults/
